@page
@model IndexModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<main class="text-center">
    <section class="section__form">
        <form>
            <h3>Iniciar sesión</h3>

            <label>Usuario:</label>
            <input type="text" class="usuario_input"/>

            <label>Constraseña:</label>
            <input type="password" class="password_input"/>

            <input type="submit" value="Iniciar sesión"/>
        </form>
    </section>
</main>
